asgiref==3.5.2
awsebcli==3.20.5
botocore==1.29.81
cement==2.8.2
certifi==2022.12.7
charset-normalizer==2.0.12
colorama==0.4.3
Django==4.0.6
idna==3.4
jmespath==1.0.1
pathspec==0.10.1
psycopg2-binary==2.9.1
pypiwin32==223
python-dateutil==2.8.2
pywin32==304
PyYAML==5.4.1
requests==2.26.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.2
termcolor==1.1.0
tzdata==2022.1
urllib3==1.26.15
wcwidth==0.1.9
